<!DOCTYPE html>
<html>
<head>
  <title>Esmfamil</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "calendar", "jquery.Bootstrap-PersianDateTimePicker", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
	<% if user_signed_in?%>
		<%=link_to('خروج',destroy_user_session_path,:method=>:delete, :class=>"sidebar_link")%> 
	<% else %>	
		<%= link_to("ثبت نام" , "/users/sign_up" )%></li>
	<% end %>	
</body>
</html>