<h1>لیست بازی‌ها</h1>

<table>
  <thead>
    <tr>
      <th>ایجادکننده‌ی بازی</th>
      <th>تعداد بازیکنان</th>
      <th>تعداد نوبت‌های بازی</th>
      <th>تعداد بازیکنان ملحق‌شده به بازی</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <%= creator = User.find_by(id: game.creator_id)%>
        <td><%= creator.firstname %> <%= creator.lastname %></td> 
        <td><%=game.players_num %></td>
        <td><%=game.rounds_num %></td>
        <td><%=game.joined_players %></td>
        <td><%= link_to 'نمایش اطلاعات بازی', game %></td>
        <td><%= link_to 'ویرایش', edit_game_path(game) %></td>
        <td><%= link_to 'حذف', game, method: :delete, data: { confirm: 'آیا اطمینان دارید؟' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'ایجاد بازی جدید', new_game_path %><br>

<ul id="joined">
  
</ul>

<%= subscribe_to "/user_games/new" %>