<p id="notice"><%= notice %></p>

<p>
  <strong>ایجاد‌کننده‌ی بازی:</strong>
  <%= @creator.name %>
</p>

<p>
  <strong>تعداد بازیکنان:</strong>
  <%= @game.players_num %>
</p>

<p>
  <strong>تعداد نوبت‌های بازی:</strong>
  <%= @game.rounds_num %>
</p>

<p>
  <strong>تعداد بازیکنان ملحق‌شده به بازی:</strong> 
  <div id="joined_players">
      <%= render :partial => "user_games/join_players" , :object => @game %>
  </div>
</p>

<%if  @game.creator_id != current_user.id %>
	<div id="join">
		<%= render :partial => "user_games/join" , :object => @game%>
	</div>
<%end%>	

<%= 'بازیکنان ملحق شده' %>
  </br>
  <%= @creator.nickname %>
  </br>
<div id="joined">
  <%= render :partial => "user_games/joined_players_name" , :object => @game %>
</div>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>

<% if @creator.id == current_user.id %>
  <%= subscribe_to "/user_games/new" %>
<% end %>