<%= form_for(@game_round) do |f| %>
  <% if @game_round.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game_round.errors.count, "error") %> prohibited this game_round from being saved:</h2>

      <ul>
      <% @game_round.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
اسم
<%= f.text_field :firstname %><br>
فامیل
<%= f.text_field :lastname %><br>
شهر
<%= f.text_field :city %><br>
کشور
<%= f.text_field :country %><br>
میوه
<%= f.text_field :fruit %><br>
ماشین
<%= f.text_field :car %><br>
رنگ
<%= f.text_field :color %><br>
کار
<%= f.text_field :job %><br>
غذا
<%= f.text_field :food %><br>
اشیا
<%= f.text_field :thing %><br>
حیوان
<%= f.text_field :animal %><br>
گل
<%= f.text_field :flower %><br>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
