<%= form_for(@game_judge) do |f| %>
  <% if @game_judge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game_judge.errors.count, "error") %> prohibited this game_judge from being saved:</h2>

      <ul>
      <% @game_judge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<div class="row" style="background-color:#6B006B;padding:10px;margin:10px;border-radius:5px">
<div class="col-sm-6">
<div class="row">
<div class="col-sm-4" style="color:white"><h4> اسم: <b><%= @game_round.firstname %></b></h4></div>

<div class="col-sm-4"><%if @game_round.firstname != "" %><%= f.check_box :firstname %><%end%></div>

<div class="col-sm-4"> </div>
</div>
</div>
<div class="col-sm-6">
<div class="row">
<div class="col-sm-4" style="color:white"> <h4> فامیل: <b><%= @game_round.lastname %></b></h4></div>
<div class="col-sm-4"><%if @game_round.lastname != "" %><%= f.check_box :lastname %><%end%></div>
<div class="col-sm-4"> </div>
</div>
</div>
</div>

<hr class="paper-line">

<div class="row" style="background-color:#3333CC;padding:10px;margin:10px;border-radius:5px">
<div class="col-sm-6">
<div class="row">
<div class="col-sm-4" style="color:white"><h4> شهر: <b><%= @game_round.city %></b></h4></div>
<div class="col-sm-4"><%if @game_round.city != "" %><%= f.check_box :city %><%end%></div>
<div class="col-sm-4"> </div>
</div>
</div>
<div class="col-sm-6">
<div class="row">
<div class="col-sm-4" style="color:white"><h4>  کشور: <b><%= @game_round.country %></b></h4> </div>
<div class="col-sm-4"><%if @game_round.country != "" %><%= f.check_box :country %><%end%></div>
<div class="col-sm-4"> </div>
</div>
</div>
</div>

<hr class="paper-line">

<div class="row" style="background-color:#008A00;padding:10px;margin:10px;border-radius:5px">
<div class="col-sm-6" >
<div class="row">
<div class="col-sm-4" style="color:white"><h4> میوه: <b><%= @game_round.fruit %></b></h4></div>
<div class="col-sm-4"><%if @game_round.fruit != "" %><%= f.check_box :fruit %><%end%></div>
<div class="col-sm-4"> </div>
</div>
</div>
<div class="col-sm-6">
<div class="row">
<div class="col-sm-4" style="color:white"><h4>  ماشین:<b><%= @game_round.car %></b></h4></div>
<div class="col-sm-4"><%if @game_round.car != "" %><%= f.check_box :car %><%end%></div>
<div class="col-sm-4"> </div>
</div>
</div>
</div>

<hr class="paper-line">

<div class="row" style="background-color:#FFFF66;padding:10px;margin:10px;border-radius:5px">
<div class="col-sm-6">
<div class="row">
<div class="col-sm-4" style="color:blue"><h4> رنگ: <b><%= @game_round.color %></b></h4></div>
<div class="col-sm-4"><%if @game_round.color != "" %><%= f.check_box :color %><%end%></div>
<div class="col-sm-4"> </div>
</div>
</div>
<div class="col-sm-6">
<div class="row">
<div class="col-sm-4" style="color:blue"><h4>  شغل:<b><%= @game_round.job %></b></h4></div>
<div class="col-sm-4"><%if @game_round.job != "" %><%= f.check_box :job %><%end%></div>
<div class="col-sm-4"> </div>
</div>
</div>
</div>

<hr class="paper-line">

<div class="row" style="background-color:#FF5930;padding:10px;margin:10px;border-radius:5px">
<div class="col-sm-6">
<div class="row">
<div class="col-sm-4" style="color:white"><h4> غذا: <b><%= @game_round.food %></b></h4></div>
<div class="col-sm-4"><%if @game_round.food != "" %><%= f.check_box :food %><%end%></div>
<div class="col-sm-4"> </div>
</div>
</div>
<div class="col-sm-6">
<div class="row">
<div class="col-sm-4" style="color:white"><h4>  اشیا:<b><%= @game_round.thing %></b></h4></div>
<div class="col-sm-4"><%if @game_round.thing != "" %><%= f.check_box :thing %><%end%></div>
<div class="col-sm-4"> </div>
</div>
</div>
</div>

<hr class="paper-line">

<div class="row" style="background-color:#FF3333;padding:10px;margin:10px;border-radius:5px">
<div class="col-sm-6">
<div class="row">
<div class="col-sm-4" style="color:white"><h4> حیوان:<b> <%= @game_round.animal %></b></h4></div>
<div class="col-sm-4"><%if @game_round.animal != "" %><%= f.check_box :animal %><%end%></div>
<div class="col-sm-4"> </div>
</div>
</div>
<div class="col-sm-6">
<div class="row">
<div class="col-sm-4" style="color:white"> <h4> گل:<b><%= @game_round.flower %></b></h4></div>
<div class="col-sm-4"><%if @game_round.flower != "" %><%= f.check_box :flower %><%end%></div>
<div class="col-sm-4"> </div>
</div>
</div>
</div>

<hr class="paper-line">

  <div class="field">
    <%= f.hidden_field :game_round_id, :value => @game_round.id%>
  </div>
<div class="row">
<div class="col-sm-8"></div>
<div class="col-sm-4">
  <div class="actions">
    <%= f.submit "تایید امتیازات"%>
  </div>
</div>
</div>

<% end %>
