<p id="notice"><%= notice %></p>

<p>
  <strong>Game round:</strong>
  <%= @game_judge.game_round_id %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @game_judge.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @game_judge.lastname %>
</p>

<p>
  <strong>City:</strong>
  <%= @game_judge.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @game_judge.country %>
</p>

<p>
  <strong>Fruit:</strong>
  <%= @game_judge.fruit %>
</p>

<p>
  <strong>Car:</strong>
  <%= @game_judge.car %>
</p>

<p>
  <strong>Color:</strong>
  <%= @game_judge.color %>
</p>

<p>
  <strong>Job:</strong>
  <%= @game_judge.job %>
</p>

<p>
  <strong>Food:</strong>
  <%= @game_judge.food %>
</p>

<p>
  <strong>Thing:</strong>
  <%= @game_judge.thing %>
</p>

<p>
  <strong>Animal:</strong>
  <%= @game_judge.animal %>
</p>

<p>
  <strong>Flower:</strong>
  <%= @game_judge.flower %>
</p>

<%= link_to 'Edit', edit_game_judge_path(@game_judge) %> |
<%= link_to 'Back', game_judges_path %>
