<% @events.each do |event| %>
	<div class="panel panel-success">	
		<div class="panel-heading"><h5><%= event.title %></h5></div>
        	<div class="panel-body">
		        <%= event.content %>
        <%= link_to 'Show', event %>
        <% if can? :update, event %>
          <%= link_to 'Edit', edit_event_path(event) %>
        <%end%>
        <% if can? :destroy, event %>
          <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%end%>
		</div>
	</div>
<% end %>

<br>
<% if can? :create, Event %>
  <%= link_to 'New Event', new_event_path %>
<%end%>
