<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="row" style="margin:20px;padding:10px;border-radius: 20px;">

<div class="col-sm-6" align=center><h4 style="color:#5F24A2">بازی خود را ایجاد کنید</h4></div>
<div class="col-sm-4"></div>
<div class="col-sm-2"><div class="circle" style="background-color: #FF4411;"></div></div>

</div>

<hr class="paper-line">

<div class="row" style="margin:20px;padding:10px;background-color:#85CECE;border-radius: 20px;">

<div class="col-sm-6">بازی مورد نظرتان دوست دارید چند بازیکن داشته باشد؟</div>
<div class="col-sm-4"><%= f.number_field :players_num, :style=>"direction:ltr" %></div>
<div class="col-sm-2"><div class="circle" ></div></div>

</div>

<hr class="paper-line">

<div class="row" style="margin:20px;padding:10px;background-color:#A3DADA;border-radius: 20px;">

<div class="col-sm-6">دوست دارید چند دور بازی کنید؟</div>
<div class="col-sm-4"><%= f.number_field :rounds_num, :style=>"direction:ltr"  %></div>
<div class="col-sm-2"><div class="circle" style="background-color: #FF8566;"></div></div>

</div>

<hr class="paper-line">

<div class="row" style="margin:20px;padding:10px;background-color:#C2E7E7;border-radius: 20px;" >

<div class="col-sm-6"></div>
<div class="col-sm-4"><%= f.submit "بازی من را ایجاد کن"%></div>
<div class="col-sm-2"><div class="circle" style="background-color: #FFAD99;"></div></div>

</div>

<hr class="paper-line">

<% end %>
