<div class="container-fluid" >

<div class="row" style="margin:10px;">
<div class="col-sm-4"></div>
<div class="col-sm-4" style="background-color:#FF5C33;border-radius: 20px;height:60px;text-align:center;color:white;">	
<h4>
جزئیات بازی را در زیر ببینید
</h4>

</div>
<div class="col-sm-4"></div>
</div>


<div class="row" style="text-align:center;margin:10px">
<div class="col-sm-4"></div>
<div class="col-sm-4" style="background-color:#FF8566;color:white;border-radius: 20px;">

	<div class="row" style="margin:10px;padding:10px;">
این بازی توسط
<%= @creator.name %>
ایجاد شده‌است
	</div>

	<div class="row" style="margin:10px;padding:10px;">
<%= @game.players_num %>
 بازیکن می‌توانند در این بازی شرکت کنند
	</div>

	<div class="row" style="margin:10px;padding:10px;">
این بازی 
<%= @game.rounds_num %>
دور بازی دارد
	</div>

	<div class="row" style="margin:10px;padding:10px;">
تاکنون
<div id="joined_players">
<%= render :partial => "user_games/join_players" , :object => @game %>
</div>
بازیکن به این بازی ملحق شده‌اند
	</div>
</div>

<div class="col-sm-4"></div>

</div>

</div>


<%if  @game.creator_id != current_user.id %>
	<div id="join">
		<%= render :partial => "user_games/join" , :object => @game  %>
	</div>
<%end%>	
<div class="row" style="margin:10px" >
<div class="col-sm-4"> </div>
<div class="col-sm-4" style="text-align:center;background-color:#FFAD99;border-radius:20px;">
	<div class="row">بازیکنان ملحق‌شده عبارتند از </div>
	<div class="row">
		<div id="joined">
			<%= render :partial => "user_games/joined_players_name" , :object => @game %>
		</div>
	</div>
</div>
<div class="col-sm-4"><%if  @game.creator_id == current_user.id %><%= link_to 'ویرایش', edit_game_path(@game) %> <%end%>	</div>
</div>


<% if @game.creator_id == current_user.id %>
  <%= subscribe_to "/user_games/new/private/#{@game.id}"  %>
<% end %>
<% link_to 'Back', games_path %>


<%= subscribe_to "/user_games/start_game/#{@game.id}"%>