<%= form_for(@game_alphabet) do |f| %>
  <% if @game_alphabet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game_alphabet.errors.count, "error") %> prohibited this game_alphabet from being saved:</h2>

      <ul>
      <% @game_alphabet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :game_id %><br>
    <%= f.text_field :game_id %>
  </div>
  <div class="field">
    <%= f.label :round_number %><br>
    <%= f.text_field :round_number %>
  </div>
  <div class="field">
    <%= f.label :alphabet %><br>
    <%= f.text_field :alphabet %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
