<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_game.user_id %>
</p>

<p>
  <strong>Game:</strong>
  <%= @user_game.game_id %>
</p>

<%= form_for(@game_round) do |f| %>
  <% if @game_round.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game_round.errors.count, "error") %> prohibited this game_round from being saved:</h2>

      <ul>
      <% @game_round.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= f.text_field :firstname %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to game_rounds_path(:user_game_id => @user_game.id), :remote => true, :method => :post do %> 
پایان دور بازی
<%end%>	

<!-- % link_to 'Edit', edit_user_game_path(@user_game) %> |
<% link_to 'Back', user_games_path %-->
