<h2>ثبت‌نام عضو جدید</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<div class="row">
  <div class = "col-md-6">ایمیل:<br />
    <%= f.email_field :email, autofocus: true %>
  </div>


  <div class = "col-md-6">نام:<br />
    <%= f.text_field :firstname%>
  </div></div>

  <div>نام خانوادگی:<br />
    <%= f.text_field :lastname %>
  </div>

  <div>نام مستعار:<br />
    <%= f.text_field :nickname%>
  </div>
<div>تاریخ تولد:<br />
  <div class="row" style="margin-top:10px">
            
              <% f.datetime_select :birthdate %>
              <%=t :روز%><%= select_tag  "ja_birth_dd", options_for_select(1..31) %>/
              <%=t :ماه%><%= select_tag "ja_birth_mm", options_for_select(1..12) %>/  
              <%=t :سال%><%= select_year(1371, {:start_year => 1340, :end_year => 1384}, {:name =>"ja_birth_yyyy"}) %>
  </div>
</div>
  <div>رمز عبور:<br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div>ورود مجدد رمز عبور:<br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

<div> لطفا متن موجود در تصویر را وارد کنید:<br/>
<p><%= captcha_tag %></p>
<p><%= text_field_tag :captcha %></p>

  <div><%= f.submit "ثبت نام" %></div>
<% end %>

<%= render "devise/shared/links" %>
